@model List<ProductVM>
@{
    ViewData["Title"] = "Index";
}

@section fontawsome{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.min.js" integrity="sha512-ykZ1QQr0Jy/4ZkvKuqWn4iF3lqPZyij9iRv6sGqLRdTPkY69YX6+7wvVGmsdBbiIfN/8OdsI7HABjvEok6ZopQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<div class="container mt-5 w-100 ml-5">

    <a class="btn btn-success" asp-area="Admin" asp-controller="Category" asp-action="Create"><i class="fa-solid fa-circle-plus"></i></a>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Category</th>
                    <th>Operations</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td><img src="~/img/@item.Image" style="width:80px;height:80px" /></td>
                        <td>@item.Name</td>
                        <td>@item.Description</td>
                         <td>@item.Price</td>
                        <td>@item.Category</td>
                        <td>
                            <div class="btns">
                                <a class="btn btn-info" asp-action="Detail" asp-route-id="@item.Id">Detail</a>
                                <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                                <form class="forms-sample d-inline" method="post" asp-action="Delete" asp-route-id="@item.Id"> <button class="btn btn-danger danger ">Delete</button></form>
                            </div>
                        </td>

                    </tr>
                }

            </tbody>
        </table>
      <div class="pagination-area mt-3 d-flex justify-content-center">
            <nav aria-label="...">
                <ul class="pagination">
                    <li class="page-item @(ViewBag.currentPage == 1 ? "disabled" : "") ">
                        <a class="page-link" asp-action="Index" asp-route-page="@(ViewBag.currentPage-1)">Previous</a>
                    </li>
                    @for (int i = 1; i <= ViewBag.pageCount; i++)
                    {
                        <li class="page-item @(ViewBag.currentPage == i ? "disabled" : "")">
                            <a class="page-link @(ViewBag.currentPage == i ? "paginate-active" : "")" asp-action="Index" asp-route-page="@i">@i</a>
                        </li>
                    }
                    <li class="page-item @(ViewBag.currentPage == ViewBag.pageCount ? "disabled" : "")">
                        <a class="page-link" asp-action="Index" asp-route-page="@(ViewBag.currentPage + 1)">Next</a>
                    </li>
                </ul>
            </nav>
      </div>
    </div>
</div>


